<div class="clearfix topicPageWrap" style="margin-top:20px;">
	<h1>A-Z Topics</h1>
	<div class="topicPage_results">
		<h3>{{atozTopicList.letter | uppercase}}</h3>
		<ul>
			<li ng-repeat="item in atozTopicList.items">
				<a href="#" ng-click="atozTopicList.click(item.id, item.name, $event)">{{item.name}}</a>
			</li>
		</ul>
	</div>
	<div class="a2z_backtotop" ng-show="showToTop">
		<span class="toTop" style="-webkit-user-select:none; -webkit-user-drag:none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); touch-action:none;"><span class="icon-angle-up"></span>&nbsp;<a href="#" ng-click="atozTopicList.totop()">Top of Page</a></span>
	</div>
</div>