<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  
  <system.web>
    <compilation debug="true" />
    <customErrors mode="Off"/>
    <httpRuntime  maxUrlLength="260" maxQueryStringLength="2048" />
  </system.web>

  
  <appSettings>
    <add key="APIRoot" value="https://.....[devApiServer]....." />
    <add key="WebRoot" value="" />
    <add key="API_PublicKey" value="XIdBaBpCDarLCEQAERgxF0szEakjd65KtvU362sitXo" />
    <add key="API_Secret" value="Bpd3IJPt6JrU/aUK7/T0hU2nTnpZx1U5yRRt/xaMOgkk/BlFSpX5Hb9JzbPc3G4TfbbE7UhARI3JbT9MtmR/iA==" />
  </appSettings>

  <system.webServer>
    
    <serverSideInclude ssiExecDisable="false"/>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx"/>
      </files>
    </defaultDocument>

  </system.webServer>
</configuration>
