<div class="learnMorePage">
	<h2>CDC's site for Content Syndication:</h2>
	<h3>Free, credible health content for your websites, apps, &amp; social media</h3>
	<br />
	<div class="row">
		<div class="span14">
			<div class="module-typeH" id="whatis">
				<h3>What is Content Syndication?</h3>
				<p>Content syndication allows CDC to offer web content to other sites and applications. Use our content on your site! It is as easy as identifying the content you want, and then pasting a small section of code from our site to yours.</p>
				<div class="text-center"><img src="./images/learnmore1.png" alt="" style="width:100%;" /></div>
			</div>

			<div class="module-typeH" id="whatarebenefits">
				<h3>What are the Benefits?</h3>
				<p>Syndication gives you the ability to add CDC content directly to your web sites. When CDC updates content at the source, those updates appear immediately on your site, saving you valuable time and ensuring that the CDC content on your site stays as up to date as possible.</p>

				<ul class="list-bullet">
					<li>Provides a minimal maintenance solution for keeping up-to-date, trusted, science-based information on your web sites and apps.</li>
					<li>Allows you to maintain the look-and-feel of your site while supplementing local information with relevant information from CDC.</li>
					<li>Gives you choice and control of the topics and quantity of CDC content on your site.</li>
					<li>Provides access to CDC information without ever requiring your visitors to leave your web site or app.</li>
					<li>Allows you to use critical resources more effectively. Syndicated content is updated automatically, freeing you from having to monitor CDC sites and cut-and-paste new information.</li>
				</ul>
			</div>

			<div class="module-typeH gettingStarted" id="getstarted">
				<h3>Get Started</h3>
				<ol style="list-style-type:none;">
					<li class="clearfix">
						<img src="./images/learnmore_num1.jpg" alt="1" class="pull-left" />
						<img src="./images/learnmore_icon_1.jpg" alt="" class="pull-right" />
						<a href="#/newaccount"><span class="highlight">Register</span> to syndicate content and media</a>. You can then share a list of media across your organization and receive notifications when new content is added or system features are enhanced.
					</li>
					<li class="clearfix">
						<img src="./images/learnmore_num2.jpg" alt="2" class="pull-left" />
						<img src="./images/learnmore_icon_2.jpg" alt="" class="pull-right" />
						<a href="#/results"><span class="highlight">Discover</span> high-quality, science-based content from CDC</a> by searching on keyword, topic,or media type.
					</li>
					<li class="clearfix">
						<img src="./images/learnmore_num3.jpg" alt="3" class="pull-left" />
						<img src="./images/learnmore_icon_3.jpg" alt="" class="pull-right" />
						<span class="highlight">Syndicate</span> by clicking the Get Embed Code tab and then  copy and paste that code directly into your website or application. You can also share content and media directly to your Facebook, Twitter, Google+, and other social networks.
					</li>
				</ol>

				<p>
					<a href="docs/Get_started.pdf" class="nonHtml plugin" target="_blank">
						<span class="tp-label"><strong>Getting Started Guide - 1,2,3</strong></span>
						<span class="tp-size">
							<span class="sprite-16-pdf" alt="Adobe PDF file"></span>
							[PDF - 2.1MB]</span>
					</a>
				</p>
			</div>

			<div class="nav-related" id="gethelp">
                <div class="module-typeA">
                    <h3>Get Help</h3>
                    <div ng-include src="'app/main/partial_gethelp.html'"></div>
                </div>
            </div>


		</div><!--span14-->
		<div class="span5">
			<div class="module-typeF">			
				<h3>On This Page</h3>
				<div>															
					<ul class="list-bullet">
						<li><a href="#" ng-click="scrollTo('whatis')">What is Content Syndication?</a></li>
						<li><a href="#" ng-click="scrollTo('whatarebenefits')">What are the Benefits?</a></li>
						<li><a href="#" ng-click="scrollTo('getstarted')">Get Started</a></li>
						<li><a href="#" ng-click="scrollTo('gethelp')">Get Help</a></li>
					</ul>
				</div>
			</div>

			<div class="module-typeF">			
				<h3>Quick Start</h3>
				<div>															
					<ul class="list-bullet">
						<li ng-if="main.loggedIn"><a href="#/syndicationlist">Syndication List</a></li>
						<li ng-if="!main.loggedIn"><a href="#/login">Login to your account</a></li>
						<li><a href="mailto:listserv@email?subject=Sign me up">Join our mailing list</a></li>
					</ul>
				</div>
			</div>

			<div class="module-typeF">			
				<h3>What Our Partners are Saying</h3>
				<blockquote>
				  <p>&quot;Content syndication makes our website more robust and timely. Syndicating content is easy and frees us from having to update sections of the site.&quot;</p>
				  <small>Rachael Odom <cite title="Arkansas Department of Health">Arkansas Department of Health</cite></small>
				</blockquote>

				<blockquote>
				  <p>&quot;As we revised our website, we brainstormed ideas to make it more accessible, accurate and informative for the community. When we learned about the CDC's Did You Know? content, we felt it would be a great addition to our website. Health information is ever-evolving and this syndication tool helps keep our online visitors engaged and informed.&quot;</p>
				  <small>Corinn Dembkoski <cite title="City of Nashua, New Hampshire, Division of Public Health and Community Services">City of Nashua, New Hampshire, Division of Public Health and Community Services</cite></small>
				</blockquote>
			</div>

			<div class="module-typeF">			
				<h3>Top Users</h3>
				<div>															
					<ul class="list-bullet">
						<li>State and Local Health Departments</li>
						<li>Federal Agencies</li>
						<li>Hospitals</li>
						<li>Universities</li>
					</ul>
				</div>
			</div>

			<div class="module-typeF">
				<h3 style="font-size:12pt;">For more information on content syndication projects at CDC and across the HHS, see these resources.</h3>
				<ul class="list-block">
					<li>
						<a href="./docs/HealthContent_WebAppsSocialMedia.pdf" class="nonHtml plugin" target="_blank">
							<span class="tp-label">Health Content For Websites, Apps and Social Media</span>
							<span class="tp-size"><span class="sprite-16-pdf" alt="Adobe PDF file"></span>[PDF - 1.12MB]</span>
						</a>
					</li>
					<li>
						<a href="./docs/EnergizingData.pdf" class="nonHtml plugin" target="_blank">
							<span class="tp-label">Energizing Data to Better Tell the Story</span>
							<span class="tp-size"><span class="sprite-16-pdf" alt="Adobe PDF file"></span>[PDF - 185KB]</span>
						</a>
					</li>
					<li>
						<a href="./docs/DMS_collaboration_factsheet.pdf" class="nonHtml plugin" target="_blank">
							<span class="tp-label">Partnering for Public Health Digital Media Syndication</span>
							<span class="tp-size"><span class="sprite-16-pdf" alt="Adobe PDF file"></span>[PDF - 937KB]</span>
						</a>
					</li>
					<li>
						<a href="http://www......[domain]...../socialmedia/contentservices/CS_Portfolio_Samples_v1.2.pdf" class="nonHtml plugin" target="_blank">
							<span class="tp-label">Content Syndication Portfolio</span>
							<span class="tp-size"><span class="sprite-16-pdf" alt="Adobe PDF file"></span>[PDF - 9.68MB]</span>
						</a>
					</li>
					<li><a href="https://digitalmedia.hhs.gov/workgroup/" target="_blank">HHS Digital Media Workgroup</a></li>
				</ul>
			</div>

			<div ng-controller="TopSyndicatedController as topSyndicated" ng-include="topSyndicated.template" ng-hide></div>

		</div><!--span5-->

	</div><!--row-->

	
	
</div>
