<div class="mediaHeader">
	<div class="container-fluid detail">
		<div class="row-fluid">
			<div>
				<p class="description"></p>
				<p>
					<small>
						<div><strong>URL:</strong> <span class="url"></span></div>
						<div><strong>Topics:</strong> <span class="topicList"></span></div>
						<!--<div><strong>Audiences:</strong> <span class="audienceList"></span></div>-->
						<div><strong>Dimensions:</strong> <span class="mediaDimensions"></span></div>
						<div><strong>Publication Date:</strong> <span class="pubDate"></span></div>
						<div><strong>Last Updated:</strong> <span class="lastUpdated"></span></div>
						<div><strong>Attribution:</strong> <span class="attribution"></span></div>
                        <!--<div><strong>Location:</strong> <span class="location"></span></div>-->
					</small>
				</p>
				<p class="clearfix">
					<a href="#" data-socialmedia="facebook" class="facebook pull-left" title="Share on FaceBook"><span class="sprite-24-facebook"></span></a>
					<a href="#" data-socialmedia="twitter" class="twitter pull-left" title="Share on Twitter"><span class="sprite-24-twitter"></span></a>
					<a href="#" data-socialmedia="google" class="google pull-left icon-google-plus-sign" title="Share on Google+"></a>
				</p>
			</div>
		</div>
	</div>
</div>