<div class="mediaListItem clearfix">
	<div class="span14 mediaListDesc clearfix">
		<div class="mediaListThumb pull-left"></div>
		<div class="mediaListDesc-col">
			<div class="title"></div>
			<div class="description"></div>
			<div class="lastupdated">Last updated: </div>
		</div>
	</div>
	<div class="span3 pull-right">
		<div class="typeG mediaList-getcode">
			<a href="#" class="button">Get Embed Code</a>
		</div>
		<div class="mediaList-action">
			<a href="#"><i class="icon-remove-sign btn-delete"></i> Remove</a>
		</div>
	</div>
</div>