<nav id="left" class="hidden-one hidden-two facetedNav">
    <h3>
        <a href="#" class="homeLink" ng-click="navBasic.homeclick($event)">Media Library Home</a>
    </h3>
    <ul id="nav-primary" class="categoryFilter" style="display: block;">
		<li>
			<a href="#/topics">Browse by Topic</a>
		</li>
		<li>
				<div class="filterLabel">Browse by Type</div>
				<ul style="display: block;" class="mediaList">
					<li ng-repeat="item in navBasic.mediaTypes">
						<a href="#" ng-click="navBasic.mediaTypeClick(item.name, item.description, $event);" >{{item.description}}</a>						
					</li>
				</ul>

		</li>
		<li>
			<a href="#/learnmore">About this Site</a>
		</li>
		<li>
			<a href="#/additionalresources">Resources for Developers</a>
		</li>
		<li>
			<a href="#/learnmore#gethelp">Get Help</a>
		</li>
		<li>
			<a href="#/requestsyndication">Request a Page for Syndication</a>
		</li>
		<li>
			<a href="#/reportproblem">Report a Problem</a>
		</li>
	</ul>

</nav>




